.todos {
  &__create-input {
      margin: 0 auto 5px;
      width: 300px;
      display: inline-block;
      align-content: center;
  }
  &__set-date {
      margin: 0 auto 5px;
      width: 200px;
      display: inline-block;
      align-content: center;
  }
  &__create-button {
      display: inline;
      margin: 0 auto 5px;
  }
  &__task {
    &--completed {
      text-decoration: line-through;
    }
  }

  &__update-input {
    margin: 0 auto;
    width: 300px;

  }
}

th, td {
  font-size: 20px;
  text-align: center;
}
